<header class="mb-5">
    <div>
        <a href="/"><h3 class="float-md-start mb-0">Paulo Oliveira</h3></a>
        <nav class="nav justify-content-center float-md-end">
            <a class="nav-link {{#if pagina.about}}{{pagina.active}}{{/if}}" href="/about">About</a>
            <a class="nav-link {{#if pagina.docs}}{{pagina.active}}{{/if}}" href="/docs">Docs</a>
            <a class="nav-link {{#if pagina.blog}}{{pagina.active}}{{/if}}" href="/blog">Blog</a>
            <a class="nav-link {{#if pagina.projects}}{{pagina.active}}{{/if}}" href="/projects">Projects</a>
            <a class="nav-link {{#if pagina.contact}}{{pagina.active}}{{/if}}" href="/contact">Contact</a>
        </nav>
    </div>
</header>